beautifulsoup4
lxml
logger
unstructured
certifi==2024.2.2
Flask==2.2.5
flask[async]
Flask-Cors
seaborn
huggingface-hub==0.20.3
ipykernel==5.5.6
ipython==7.34.0
ipython-genutils==0.2.0
ipython-sql==0.5.0
ipytree==0.2.2
ipywidgets==7.7.1
itsdangerous==2.1.2
Jinja2==3.1.3
joblib==1.3.2
jsonpath-python==1.0.6
jsonpickle==3.0.2
jsonpointer==2.4
jsonschema==4.19.2
jsonschema-specifications==2023.12.1
langchain==0.1.8
llama-index==0.10.10
llama-index-agent-openai
llama-index-core
llama-index-embeddings-azure-openai
llama-index-embeddings-langchain
llama-index-embeddings-openai
llama-index-legacy
llama-index-llms-azure-openai
llama-index-llms-openai
llama-index-multi-modal-llms-openai
llama-index-postprocessor-cohere-rerank
llama-index-program-openai
llama-index-question-gen-openai
llama-index-readers-file
llama-index-vector-stores-pinecone
llamaindex-py-client
openai
pinecone-client==3.0.3
prompt-toolkit==3.0.43
sentence-transformers==2.3.1
tensorflow==2.15.0